<div class="prt_footer_wrapper prt_toppadder30 prt_bottompadder30">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Copyright © 2022 Hemant Sachdeva. All Rights Reserved</p>
        <ul>
          <li>
            <a href="https://github.com/HemantSachdeva" target="_blank"
              ><i class="fa fa-github" aria-hidden="true"></i
            ></a>
            <a href="https://linkedin.com/in/Hemant-Sachdeva" target="_blank"
              ><i class="fa fa-linkedin" aria-hidden="true"></i
            ></a>
            <a href="https://instagram.com/Hemant_007.me" target="_blank"
              ><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
            <a
              href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hemant.evolver@gmail.com"
              target="_blank"
              ><i class="fa fa-envelope" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
